
*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

html, body{
    margin:0;
    padding:0;
    background-color: #f7efef;
}

.header{
    width: 100%;
    height: 100vh;
    padding: 0 0;
}

.top-menu{
    width: 100%;
    height: 120px;
    background-color: #2200ff;
    padding: 0 10%;
}

.top-menu a{
    color: #f7efef;
    text-decoration: none;
}

.logo {
    height: 80px;
    float: left;
}

.businessname{
    color:#f7efef;
    float: left;
}


/*Ser till att menypunkter är ordnade*/

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px 0;
}

nav p{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
/* nedan är sida - products*/

h3{
    text-align: center;
    font-size: 30px;
    margin: 0%;
    padding-top: 10px;
    color:#0e1011;

}

.video{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    
}

.intro p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 20px;
    color: #000000;
    padding: 0 10%;

}
.intro h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    margin-bottom: 10px;
    color: #3f51b5;
    padding: 0 10%;

}


.gallery{
    
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    padding: 0 10%;

}
.innehall {
    width: 20%;
    margin: 15px;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0. 25),
    0 10 px 10 px rgba(0, 0, 0, 0.22);
    background: #cbc4c4;
}
.samsung{
   
    width: 50%;
    height: 62%;
    text-align: center;
    margin: 0 auto;
    object-fit: cover;
   
}
.iPhone {

    width: 63%;
    height: 79%;
    text-align: center;
    margin: 0 auto;
    object-fit: cover;

}
p{
    text-align: center;
    color: #0e1011;
    padding-top: 0 8px;
    margin: 2px;

}
h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;

}
button{
    text-align:center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    /*margin-top: 5px;*/
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
.Köp{
    background-color: #2200ff;

}