*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

html, body{
    margin:0;
    padding:0;
    background-color: #f7efef;
}

.header{
    width: 100%;
    height: 100vh;
    padding: 0 0;
}

.top-menu{
    width: 100%;
    height: 120px;
    background-color: #2200ff;
    padding: 0 10%;
}

.top-menu a{
    color: #f7efef;
    text-decoration: none;
    display: flex;
    padding: 15px 55px;
}

.logo {
    height: 80px;
    float: left;
    margin-right: 1rem;

}

.businessname{
    color:#f7efef;
    float: left;
}

/*Ser till att menypunkter är ordnade*/

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px 0;
}

nav ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 0 0rem;
}

nav li{
    display: flex;
    float: right;
    position: relative;
    width: auto;
}

#submenu{
    display: flex;
    flex-direction: column;
    background-color: #2200ff;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu{
    opacity: 1;
    top: 50px;
    visibility: visible;
    box-shadow: 0 5px 5px #222f3e;
    /*background-color:darkblue;*/
}

#submenu li{
    float: none;
    width: 100%;
}
.grey:hover{
color:  gray;
}


/* nedan är sida - products*/

h3{
    text-align: center;
    font-size: 30px;
    margin: 0%;
    padding-top: 10px;
    color:#0e1011;
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0; 
    border: 0px solid black; 
}

.intro p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 20px;
    color: #000000;
    padding: 0 10%;
}

.intro h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    margin-bottom: 10px;
    color: #3f51b5;
    padding: 0 10%;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    padding: 0 10%;
    padding-bottom: 10%;
}

.innehall {
    width: 20%;
    margin: 15px;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    background: #cbc4c4;  
}

.innehall:hover{
    background-color: rgb(144, 141, 145);
}

/* Lyckades inte få samsung-bilden och iphone-bilden i samma storlek, delade upp css för respektive bild*/

.samsung{ 
    width: 50%;
    height: 62%;
    text-align: center;
    margin: 0 auto;
    object-fit: cover; 
}

.iPhone {
    width: 63%;
    height: 79%;
    text-align: center;
    margin: 0 auto;
    object-fit: cover;
}

p{
    text-align: center;
    color: #0e1011;
    margin: 2px;
}

.frame {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    object-fit: cover;  
}

h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}

button{
    text-align:center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline:none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    background-color: #2200ff;
}

button a{
    color: #fff;
}

.Köp{
    background-color: #2200ff;  
}

.Köp:hover{
background-color: darkblue;

}

a.Köp-här{
    display: inline-block;
    text-decoration: none;
    text-align:center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline:none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    background-color: #2200ff;

} 
a.Köp-här:hover{
    background-color: darkblue;
}

.footer{
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    margin-top: auto;
    background-color: #1e02cf;
    color: #f7efef;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}

.footer p{
    color:#f7efef
}