*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

html, body{
    margin:0;
    padding:0;
    background-color: #f7efef;
}

.header{
    width: 100%;
    height: 100vh;
    padding: 0 0;
}

.top-menu{
    width: 100%;
    height: 120px;
    background-color: #2200ff;
    padding: 0 10%;
}

.top-menu a{
    color: #f7efef;
    text-decoration: none;
    display: flex;
    padding: 15px 55px;
}

.top-menu li:hover a{
    background: #2200ff;
}

.logo {
    height: 80px;
    float: left;
    margin-right: 1rem;
}

.businessname{
    color:#f7efef;
    float: left;
}

/*Ser till att menypunkter är ordnade*/
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px 0;
}

nav ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 0 0rem;
}

nav li{
    display: flex;
    float: right;
    position: relative;
    width: auto;
}

#submenu{
    display: flex;
    flex-direction: column;
    background-color: #2200ff;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu{
    opacity: 1;
    top: 50px;
    visibility: visible;
    box-shadow: 0 5px 5px #222f3e;
}

#submenu li{
    float: none;
    width: 100%;
}

.grey:hover{
    color:  gray;
    }

/*I styleProducts.css (finns i gallery)*/
.content{
    padding: 0 10%;
}

.text-box{
    margin-top: 80px;
    max-width: 600px;
}

.text-box h2{
    font-size: 45px;
    margin-bottom: 20px;
    color: #3f51b5;
}

.text-box a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #3f51b5;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 6px;
}

/*Nedan tre delar stylear trustpilot element*/
.ratings{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ratings p{
    text-align: center;
}

.tustpilot{
    max-width: 9%;
    height: auto;
    float: left;
}

/*Nedan tre delar stylear de två banner-bilderna på startsidan*/
.images{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    /*column-gap: 5px;*/
}

.mobil{
    max-width: 100%;
    height: auto;
}

/*Victor css*/
.gallery{
    
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    padding: 0 10%;

}

.innehall{
    width: 20%;
    margin: 15px;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    background: #cbc4c4;
}

.innehall:hover{
    background-color: rgb(144, 141, 145);
}

.samsung{
    width: 130px;
    height: 130px;
    text-align: center;
    margin: 0 auto;
    object-fit: cover;
}

.iPhone{
    width: 150px;
    height: 165px;
    text-align: center;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

p{
    text-align: center;
    color: #0e1011;
    margin: 2px;
}

/*för att cisa karta*/
.frame{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}

button{
    text-align:center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.Köp{
    background-color: #2200ff;
}

/*Victor css upphör*/
h3{
    margin-bottom: 30px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10%;
}

.footer{
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    margin-top: auto;
    background-color: #1e02cf;
    color: #f7efef;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer p{
    color:#f7efef
}
