*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 100vh;
    padding: 0 0;
    background: #f7efef;
}

.top-menu{
    width: 100%;
    height: 150px;
    background-color: #2200ff;
    padding: 0 10%;

}

.top-menu p{
    color: #fff;
}

.logo {
    height: 120px;
    float: left;
}

/*Ser till att menypunkter är ordnade*/
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.content{
    padding: 0 10%;
}

.text-box{
    margin-top: 130px;
    max-width: 600px;
}

.text-box h1{
    font-size: 45px;
    margin-bottom: 20px;
    color: #3f51b5;
}

.text-box a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #3f51b5;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 6px;
}

.container {
    display: grid;
    align-items: center; 
    margin-top: 50px;
    column-gap: 5px;
   }




/* nedan är sida - products*/
/*
.produkt1 {
    height: 100px;
    float: left;
}
*/
h3{
    text-align: center;
    font-size: 30px;
    margin: 0%;
    padding-top: 10px;

}

a{
text-decoration: none;

}


.bilder {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    

}


.innehall {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 25),
    0 10 px 10 px rgba(0, 0, 0, 22);
    transition: 4s;
    background:#dfdcdc;
}
.productimage{
    width: 150px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}
